.DS_Store
CMakeFiles
tests/Output
build*/
*.aps
Screenshot.*
*.cache
Makefile
.Build/.vs/LLGL/v16/.suo
.Build/.vs/LLGL/v16/Browse.VC.db
.Build/.vs/LLGL/v16/Browse.VC.db-shm
.Build/.vs/LLGL/v16/Browse.VC.db-wal
.Build/.vs/LLGL/v16/Browse.VC.opendb
.Build/.vs/LLGL/v16/ipch/AutoPCH/131063dd5da67786/RENDERCONTEXT.ipch
.Build/.vs/LLGL/v16/ipch/AutoPCH/3368f07164bac4bc/RENDERSYSTEM.ipch
.Build/.vs/LLGL/v16/ipch/AutoPCH/4d7ad49328b2984c/D3D12TEXTURE.ipch
.Build/.vs/LLGL/v16/ipch/AutoPCH/4eab25a0bd22e69d/WIN32MODULE.ipch
.Build/.vs/LLGL/v16/ipch/AutoPCH/5046ef7217dab307/GLCONTEXT.ipch
.Build/.vs/LLGL/v16/ipch/AutoPCH/5e7ea55d8a63b750/GLRENDERSYSTEM.ipch
.Build/.vs/LLGL/v16/ipch/AutoPCH/64590a3342145b58/GL2XVERTEXARRAY.ipch
.Build/.vs/LLGL/v16/ipch/AutoPCH/65d9afd0f275ea5e/GLMODULEINTERFACE.ipch
.Build/.vs/LLGL/v16/ipch/AutoPCH/7ff82496bf3f5736/D3D12COMMANDBUFFER.ipch
.Build/.vs/LLGL/v16/ipch/AutoPCH/9f4482aff9cafc12/GLRENDERCONTEXT.ipch
.Build/.vs/LLGL/v16/Solution.VC.db
.Build/.vs/LLGL/v16/Solution.VC.db-shm
.Build/.vs/LLGL/v16/Solution.VC.db-wal
*.ipch
*.obj
*.tlog
*.log
